/*Style For Home,About,Register,Login,Report,Reset PassWord JILLS PAY*/
.body{background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);}
/*HIDE VIEW----------------------------------------------------------------------------------------------------------------------------*/
#regSuccessMsg{display:none;}
#formTwo{display:none;} 
#success{display:none;} 
#trial{display:none;}
/*NAV AND FOOTER-----------------------------------------------------------------------------------------------------------------------*/	
.navbar{ background-color:#00004d;}
.footer{ background-color:#00004d;}

.myFooterHead{
background-image:url('../../img/b3.jpg'); background-repeat:no-repeat; background-position: center center;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
text-align: center; color: white; }

.myBg1{background-color:#003679;}
.myBg2{background-color:#00e600;}
	
.myBtn1 {color:white; background-color:#00004d; border-color: black;}
.myBtn2 {color:white; background-color:green; border-color: green;}
.myBtn2:hover {color:white;background-color:#00e600;border-color: green;}
	
.processBox{margin-top: 5px; margin-bottom: 10px; padding-bottom: 15px;
text-align: center; background-color:white; overflow: hidden; color:black; height:300px; box-shadow:1px 1px 1px 1px ;}
	
.featuresBox{ margin-top: 5px; margin-bottom: 10px; padding-bottom: 15px; text-align: center; background-color:white;
overflow: hidden; color:black; height:250px; box-shadow:1px 1px 1px 1px ; }
	
.features-simple {text-align: center; margin-bottom: 40px;}
		
.features-simple .icon {color: white; border-color: #fff;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;}
		
.features-simple h3 {font-weight: normal;font-size: 18px;
text-transform: uppercase;line-height: 1.5;color: green;font-weight: 800;letter-spacing: 0.08em;}
		
.features-simple p {color: black;padding:10px;}
		
	
	.heading h1,
	.heading h2,
	.heading h3,
	.heading h4,
	.heading h5 {
	  display: inline-block;
	  line-height: 1.1;
	  margin-bottom: 0;
	  padding-bottom: 10px;
	  vertical-align: middle;
	  text-transform: uppercase;
	  letter-spacing: 0.06em;
	}
	
	.packages .package {
	  background: #fff;
	  margin-top: 25px;
	  margin-bottom: 20px;
	  padding-bottom: 15px;
	  text-align: center;
	  border: solid 1px #6aae7a;
	  overflow: hidden;
	}
	
	.packages .package .package-header {
	  height: 57px;
	  color: #fff;
	  line-height: 57px;
	  background: green;
	}
	
	.packages .package .package-header h5 {
	  color: #fff;
	  text-transform: uppercase;
	  font-weight: bold;
	  line-height: 57px;
	  margin: 0;
	  letter-spacing: 0.08em;
	}	

	.packages .package .price {
	  line-height: 100px;
	  height: 70px;
	  color: green;
	  font-weight: 400;
	}
	
	.packages .package .price h4 {
	  display: inline;
	  font-size: 50px;
	  line-height: normal;
	  margin-bottom: 0;
	}
	
		.packages .package .price .period {
		  line-height: normal;
		  color: #999999;
		}
		.packages .package ul {
		  padding: 0;
		}
		.packages .package ul li {
		  list-style-type: none;
		  padding-top: 10px;
		  padding-bottom: 10px;
		  width: 80%;
		  margin: auto;
		  border-bottom: 1px dotted #ccc;
		}
		.packages .package ul li:last-child {
		  border-bottom: 0;
		}
		.packages .package ul li i {
		  font-size: 13px;
		  margin-right: 5px;
		}
		.packages .best-value .package {
		  margin-top: 0;
		  padding-bottom: 40px;
		}
		.packages .best-value .package .package-header {
		  height: 72px;
		  padding-top: 17px;
		  height: 82px !important;
		}
		.packages .best-value .package .package-header h5 {
		  font-weight: bold;
		  line-height: 29px;
		  text-transform: uppercase;
		  letter-spacing: 0.08em;
		}
		.packages .best-value .package .package-header .meta-text {
		  font-size: 13px;
		  line-height: 15px;
		}
	
		.icon {
		  display: inline-block;
		  width: 80px;
		  height: 80px;
		  color: #fff;
		  background-color:#003679;
		  line-height: 80px;
		  border-radius: 40px;
		  border: solid 1px #fff;
		  font-size: 30px;
		  border-width: 2px;
		  padding-top:20px;
		}
		
		
		.box-simple {
		  text-align: center;
		  margin-bottom: 40px;
		}
		
		.box-simple .icon {
		  color: white;
		  border-color: white;
		  -webkit-transition: all 0.2s ease-out;
		  -moz-transition: all 0.2s ease-out;
		  transition: all 0.2s ease-out;
		}
		
		.box-simple h2 {
		  font-weight: normal;
		  font-size: 20px;
		  text-transform: uppercase;
		  line-height: 1.5;
		  color: #00e600;
		  font-weight: 800;
		  letter-spacing: 0.08em;
		}
		
		.box-simple h3 {
		  font-weight: normal;
		  font-size: 18px;
		  text-transform: uppercase;
		  line-height: 1.5;
		  color: #00e600;
		  font-weight: 800;
		  letter-spacing: 0.08em;
		}
		
		.box-simple p {
		  color: white;
		}
	
		.testimonies{
		  margin-top: 5px;
		  margin-bottom: 10px;
		  padding-bottom: 15px;
		  text-align: center;
		  border: solid 1.5px green;
		  overflow: hidden;
		}
		.testimonies p{
		  color: black;
		  padding:15px;
		  font-weight: normal;
		  height:150px;
		  
		}
		.testimonies h5{
		  font-weight: normal;
		  font-size: 18px;
		  text-transform: uppercase;
		  line-height: 1.5;
		  color: green;
		  font-weight: 800;
		  letter-spacing: 0.08em;
		}
		}
		
/*Frequently Asked Question---------------------------------------------------------------------------------------------------------------*/
	.faqHeader {
			font-size: 27px;
			margin: 20px;
		}

		.panel-heading [data-toggle="collapse"]:after {
			font-family: 'fontawesome';
			content: "\f054"; /* "play" icon */
			float: right;
			color: white;
			font-size: 10px;
			line-height: 22px;
			/* rotate "play" icon from > (right arrow) to down arrow */
			-webkit-transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
			-ms-transform: rotate(-90deg);
			-o-transform: rotate(-90deg);
			transform: rotate(-90deg);
		}

		.panel-heading [data-toggle="collapse"].collapsed:after {
			/* rotate "play" icon from > (right arrow) to ^ (up arrow) */
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
			color: white;
		}

/*Heading Banner Design-----------------------------------------------------------------------------------------------------------------*/
header {
  background-image: url('../../img/b3.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead {
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  header .intro-text {
    padding-top: 150px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
   
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  
  header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
   
  }
  
  header .intro-text .intro-heading2 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 35px;
     margin-bottom: 50px;
  }
}
/*ABOUT DESIGN---------------------------------------------------------------------------------------------------------------------------*/
.breadcrumb-image {
	background-image: url(../../img/b3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 104px 0 110px;
    position: relative;
    width:100%;
}
.breadcrumb-image::before {
    background: rgba(0, 0, 0, 0.60) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.breadcrumb-image h1 {
    color: #ffffff;
    font-size: 33px;
    font-weight: 600;
    line-height: 40px;
    position: relative;
    text-transform: uppercase;
}
.breadcrumbs_path {
    color: #fff;
    margin-top: 8px;
    position: relative;
    z-index: 9;
}
.breadcrumbs_path > a {
    color: #fff;
    transition: all 0.3s ease 0s;
}